<div class="header">
  <div class="view" style="background-image: url(''); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Start your<span class="text-warning"> hospitality</span><br /><span class="cyan-text">career</span> with amazing tutorials</h1>
            <hr class="hr-light">
            <h6 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
              fuga nesciunt
              dolorum nulla magnam veniam sapiente! Commodi sequi non animi ea dolor molestiae
            iste.</h6>

            <%= link_to 'Courses', courses_path, class: 'btn btn-white btn-rounded' %>
            <a href="" class="btn btn-warning btn-rounded" data-toggle="modal" data-target="#modalLRForm"><i class="fas fa-user left">
            start now</i></a>

          </div>

          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <%= image_tag "board.png", class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />


<div class="container">
  <section>
    <div class="row dark-grey-text">

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-primary"><i class="icon-fa fas fa-file-alt fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">Sign up</h6>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-danger"><i class="icon-fa fas fa-bullhorn fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">Get access to tutorials</h6>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-info"><i class="icon-fa fas fa-code fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">Study at your own pace</h6>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-warning"><i class="icon-fa fas fa-comments fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">Video tutorials</h6>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-muted"><i class="icon-fa fas fa-cogs fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">Join our community</h6>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-success"><i class="icon-fa far fa-handshake fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">Land your dream position</h6>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

    </div>

  </section>




  <hr class="w-header my-4">




  <section class="text-center dark-grey-text">
    <h2 class="font-weight-bold text-center mb-5 pb-3">Our Courses</h2>
    <div class="row text-center d-flex justify-content-center">
      <div class="card col-lg-3 col-md-6 mb-lg-0 mb-5">
        <%= image_tag 'kella1.jpg', class: 'img-fluid' %><br />
        <h4 class="font-weight-bold mb-4">Front Office</h4>
        <p class="text-muted px-2 mb-lg-0">
          <a href="http://127.0.0.1:3000/project/3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </a>
        </p>
      </div>
      <div class="card col-lg-3 col-md-6 mb-lg-0 mb-5">
        <%= image_tag 'slide.jpg', class: 'img-fluid' %><br />
        <h4 class="font-weight-bold mb-4">Reservations</h4>
        <p class="text-muted px-2 mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="card col-lg-3 col-md-6 mb-md-0 mb-5">
        <%= image_tag 'slide.jpg', class: 'img-fluid' %><br />        <h4 class="font-weight-bold mb-4">Sales & Marketing</h4>
        <p class="text-muted px-2 mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="card col-lg-3 col-md-6 mb-md-0 mb-5">
        <%= image_tag 'kella1.jpg', class: 'img-fluid' %><br />
        <h4 class="font-weight-bold mb-4">Housekeeping</h4>
        <p class="text-muted px-2 mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </section>




</div>      
<hr class="mb-5">
</div>

<div class="container my-5 z-depth-1">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">

        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
        </div>

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>

          <h3 class="font-weight-bold mb-4">Land Your Dream Job in the Hospitality Industry</h3>

          <p>Lorem ipsum dolor sit amet consectetur adip elit. Maiores deleniti explicabo voluptatem quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus, fugiat eum soluta blanditiis adipisci, velit dolore magnam.</p>

          <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button>

        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>

<%= render 'devise/sessions/modal' %>


            
