       <section>

    <div class="card card-list">
      <div class="card-header white d-flex justify-content-between align-items-center py-3">
        <div class="d-flex justify-content-start align-items-center">
        
          <div class="d-flex flex-column pl-3">
            <a href="#!" class="font-weight-normal mb-0"><%= @course.title %></a>
          </div>
        </div>



      </div>


        <% @course.comments.each do |comment| %>
      <div class="py-4 grey lighten-4">
        <div class="px-3">
           <%= image_tag photo_url(comment.user), class: "z-depth-1 rounded-circle float-left",  width: 40 %>


          <div class="d-flex flex-column pl-3">
            <div class="">
              <a href="#!" class="font-weight-normal mb-0"><%= comment.user.first_name %> <%= comment.user.last_name %></a>
              <p class="small text-muted float-right mb-0"> <td><%=comment.created_at.strftime('%d %b %Y') %></td></p>
            </div>
            <p class="font-weight-light dark-grey-text mb-0"> <%= comment.message %></p>
          </div>
        </div>
        <hr class="my-3">
        <% end %>

        


   
          <%= form_for @comment, url: course_comments_path(@course) do |f| %>
      <div class="card-footer white py-3">
        <div class="form-group mb-0">
           <%= f.text_area :message, placeholder: "Write your comment...",  rows: 2, class: "form-control rounded-0" %>
          

          <div class="text-right pt-1">
                   <%= f.submit "Post Comment", class: "btn btn-danger btn-sm mb-0 mr-0" %>
            
          </div>
        </div>

        </div>
      </div>
      <% end %>
  </div>
</section>