

<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
<%= image_tag current_course.image, class: 'img-fluid' %>
  <br />
  
  <%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning float-right' %>
  <br class="clr" />





<div class="container my-5">


<!--Section: Content-->
<section class="dark-grey-text text-center">


<% current_course.sections.each do |section| %>

<h3>
<%= section.title %>
</h3>
<div class="row">
<% section.lessons.each do |lesson| %>
<div class="col-md-4 mb-4">
<%= link_to lesson_path(lesson), class: "card hoverable" do %>
<div class="card-body my-4">

<p><i class="fas fa-play fa-2x"></i></p>
<h5 class="black-text mb-0"><%= lesson.title %></h5>

</div>

<% end %>

</div>
<% end %>
</div>
</div>
<% end %>


</section>
</div>













<div class="text-center">
<% if current_user && current_user == current_course.user %>

<br /><br />

<%= link_to 'Administer', instructor_course_path(current_course), class: "btn btn-deep-orange" %>
<% end %>
</div>

<div class="container">

<div class="col-12">
     <% current_course.sections.each do |section| %>

<h3>
<%= section.title %>
</h3>
<div class="row">
     <% section.lessons.each do |lesson| %>

<div class="col-md-4 mb-4">
<div class="lesson text-center">
  <%= link_to lesson_path(lesson) do %>
<p><i class="fas fa-play fa-2x"></i></p>

<b><h2><%= lesson.title %></h2></b>
<br />
<%= lesson.content %>
<% end %>
</div>
</div>
<% end %>
</div>
<br class="clr" />

<% end %>







