<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%=  current_course.title %></h1>

  <%= image_tag current_course.image, class: 'img-fluid' %>
  <br />
  <%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning float-right' %>
  <br class="clr" />

  <div class="text-center">
    <%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-lg' %>
  </div>

  <ul>
    <%  current_course.sections.each do |section| %>
      <li>
        <%= section.title %>
        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
        <ul>
          <% section.lessons.each do |lesson| %>
            <li>
              <%= link_to lesson_path(lesson) do %>
          
              <b><%= lesson.title %></b>
              -
              <%= lesson.content %>
            <% end %>
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>

</div> 
 
 
 
 
 
 
 
 
 
 
 
