<div class="container">
    <div class="container my-5 py-5">


    <!--Section: Content-->
    <section class="text-center">


      <!--Grid row-->
      <div class="row">
           <% @jobs.each do |job| %>

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          
          <div class="card">
            <div class="card-body">

              <p class="mb-1"><a href="" class="font-weight-bold black-text"><h3><%= link_to job.title, job_path(job) %></h3></a></p>

              <h5 class="mb-1"><small class="mr-1"><%= job.company %></small><strong></strong></h5>

              <div class="amber-text fa-xs mb-1">
               <%= job.location %>
              </div>

              <hr />
            <div class="row">
              <p class="text-muted card-text mt-2 px-4 mb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
            </div>
             <%= link_to 'Apply', job_path(job), class: 'btn btn-unique btn-rounded btn-sm px-3' %>
            
              <button type="button" class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect">Details</button>

            </div>
          </div>



        </div>
        <!--Grid column-->

      
        <% end %>


      </div>
 


    </section>
    <!--Section: Content-->


  </div>
<div class="container my-5">
  
  <!--Section: Content-->
  <section class="dark-grey-text">

    

    <!-- Grid row -->
    <div class="row">
     
           <% @jobs.each do |job| %>
      <div class="col-12 mb-4">
        <div class="card z-depth-0 bordered border-light">
          <div class="card-body p-0">
            <div class="row mx-0">
              <div class="col-md-8 grey lighten-4 rounded-left pt-4">
                <h5 class="font-weight-bold"><%= link_to job.title, job_path(job) %></h5>
                <%= job.company %>
                <p class="font-weight-light text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae, fuga similique quos aperiam tenetur quo ut rerum debitis.</p>
              </div>
              <div class="col-md-4 text-center pt-4">
                <p class="h1 font-weight-normal"><button type="button" class="btn btn-purple btn-rounded btn-sm px-3">Apply for this job</button></p>
                
   
              </div>
            </div>
          </div>
        </div>
      </div>
      
    

    
        <% end %>
  </section>
  <!--Section: Content-->


</div> 
 
</div>