  <br />
  <div class="top container">
              <div class="row">
                <div class="col-md-10">
                   <%= form_tag search_jobs_path, method: :get do |f| %>
                  <div class="form-row">
                    

                       <div class="form-group col-md-4">
                      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}), prompt: "Select category", class: "form-control mt-lg-1 mt-md-2" %>

                    </div>


                    <div class="form-group col-md-4">
                      <%= text_field_tag :location, nil, placeholder: "Location e.g Lagos", class: "form-control my-2 my-lg-1" %>

                    </div>

                

                  

                     <div class="col-md-2">
                  <%= submit_tag "Search now", class: "btn btn-deep-orange btn-rounded btn-md btn-block mt-lg-1 mt-md-2" %>
                </div>
                  </div>
                  <% end %>
                  
        </div>
      </div>







                  <div class="row mt-5">

            <div class="col-md-8">
          <!--Form-->
          <div class="wow fadeInRight" data-wow-delay="0.3s">
            <% @jobs.each do |job| %>

            <div class="card z-depth-0 bordered border-light">
              <div class="card-body p-0">
                <div class="row mx-0">
                  <div class="col-md-8 grey lighten-4 rounded-left pt-4">
                     <h5 class="font-weight-bold"><%= link_to job.title, job_path(job) %><br />
                    <%= job.company %></h5>
                   
                  
                    
          <a class="text-muted"><i class="fas fa-map-marker-alt"> </i> <%= job.location %></a>
                    <p class="font-weight-light mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae, fuga similique quos aperiam tenetur quo ut rerum debitis.</p>
                    <p class="text-muted">
                    Posted <%= timeago(job.created_at)%></p>
                  </div>
                  <div class="col-md-4 text-center pt-4">
               

            <%= link_to 'Apply', job_path(job), class: "btn btn-unique btn-rounded btn-sm px" %></button>
              

                  </div>
              
                </div>

              </div>

            </div>



            <% end %>
          </div>

        </div>
     
      




<div class="col-md-4">

 <div class="card z-depth-0 border border-light rounded-0">

          <h5 class="text-center">Popular searches</h5>
              <div class="card-body list">
               <% Job.all.each do |job| %>
               <ul>
              <li><a><%= link_to job.title, job_path(job) %></a></li></ul>
             
        <% end %>
      </div>
    </div>
        

  <div class="card my-3">
              <h5 class="card-header text-center bg-info">Advertise here</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                  
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>
</div>


    <!--Section: Content-->


  </div>
<script>
  $(function() {
 $("time.timeago").timeago();
});
</script>