
<div class="top container">
  <div class="card col-md-10 offset-md-1">
    <!-- Card body -->
    <div class="card-body">

      <!-- Default form subscription -->

      <%= form_for @job do |f| %>
      <p class="h4 text-center py-4">Add Job</p>

     <%= f.text_field :title, placeholder: 'Job title', class: 'form-control', required: true %>


      <br />

      <%= f.text_field :location, placeholder: 'Address', class: 'form-control', required: true %>


      <br />

      <%= f.text_field :city, placeholder: 'City', class: 'form-control', required: true %>


      <br />

      <%= f.text_field :state, placeholder: 'City', class: 'form-control', required: true%>


      <br />

       <%= f.text_field :qualifications, placeholder: 'Qualifications', class: 'form-control', required: true%>


      <br />





      <%= f.rich_text_area :description, rows: 50, cols: 50,  placeholder: 'Details of job', class: 'form-control', required: true %>

      <br>



      <%= f.file_field :logo %>

      <br /><BR />
      <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] } %>
      <br />


      <div class="text-center py-4 mt-3">
        <%= f.submit "Post Job", class: 'btn btn-primary' %>
      </div>
      <% end %>


    </div>
    <!-- Card body -->

  </div>
</div>