
<div class="top container">
  <div class="card col-md-8 offset-md-2">
    <!-- Card body -->
    <div class="card-body">

      <!-- Default form subscription -->
      <%= form_for @job, url: new_job_path do |f| %>
      <p class="h4 text-center py-4">Add a new Course</p>

      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>


      <br>

      <%= f.text_field :location, placeholder: 'Address', class: 'form-control' %>


      <br />

      <%= f.text_field :city, placeholder: 'City', class: 'form-control' %>


      <br />

      <%= f.text_field :state, placeholder: 'City', class: 'form-control' %>


      <br />



      <%= f.rich_text_area :description, rows: 50, cols: 50,  placeholder: 'Details of job', class: 'form-control'%>

      <br>



      <%= f.file_field :logo %>

      <br /><BR />
      <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] } %>
      <br />


      <div class="text-center py-4 mt-3">
        <%= f.submit "Create", class: 'btn btn-primary' %>
      </div>
      <% end %>


    </div>
    <!-- Card body -->

  </div>
</div>