
<div class="top container">
  <div class="row">
<div class="box col-md-8">
  <section>
 

    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4"><% if @job.logo.attached? %>
<%= image_tag @job.logo, class: "rounded-circle", size: 40 %>
<% end %>
</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2"><%= link_to @job.title %></h3>

    <p class="text-center text-muted"><%= @job.company %> <%= @job.location %>,  <%= @job.city %> <%= @job.state %> </p>

    <div class="row d-flex justify-content-center">

       <div class="col-md-12 col-lg-10 col-xl-8">
        <h5 class="font-weight-bold border-top border-secondary pt-4 mb-4"><a class="dark-grey-text" href="#">About Company</a></h5>
        <p class="mb-3 pb-md-3">Written enquire painful to offices forming it. Then so does over sent
          dull. Likewise offended humour mrs
          fat trifling answered. On ye position greatest so desirous enable performance based.</p>
      </div>



      <div class="col-md-12 col-lg-10 col-xl-8">
        <h5 class="font-weight-bold border-top border-light pt-4"><a class="dark-grey-text" href="#">Job Description</a></h5>
        <p class="mb-3 pb-md-3">Written enquire painful to offices forming it. Then so does over sent
          dull. Likewise offended humour mrs
          fat trifling answered. On ye position greatest so desirous enable performance based.</p>
      </div>




  <div class="col-md-12 col-lg-10 col-xl-8">
        <h5 class="font-weight-bold border-top border-light pt-4"><a class="dark-grey-text"
            href="#">Required Qualification</a></h5>
        <p class="mb-3 pb-md-3">Written enquire painful to offices forming it. Then so does over sent
          dull. Likewise offended humour mrs
          fat trifling answered. On ye position greatest so desirous enable performance based.</p>
      </div>

      <div class="w-100"></div>

      <div class="col-md-6 col-lg-5 col-xl-4">
        <h5 class="font-weight-bold border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Benefits</a></h5>
        <p class="mb-3">Written enquire painful to offices forming it. Then so does over sent dull.
          Likewise offended humour mrs
          fat trifling answered. On ye position greatest so desirous enable performance based.</p>
      </div>

      <div class="col-md-6 col-lg-5 col-xl-4">
        <h5 class="font-weight-bold border-top border-light pt-4 mb-4"><a class="dark-grey-text"
            href="#">Salary Range</a></h5>
        <p class="mb-3">Written enquire painful to offices forming it. Then so does over sent dull.
          Likewise offended humour mrs
          fat trifling answered. On ye position greatest so desirous enable performance based.</p>
      </div>


   <span class="col-md-6 col-lg-5  align-center">
     <a href="" class="btn blue-gradient btn-rounded" data-toggle="modal" data-target="#modalContactForm">Apply for this job</a></span>
   </div>

    
  </section>
</div>



<div class="col-md-4">
    <div class="map">
                  <%= @job.location%>, <%= @job.city %> <%= @job.state %>
                  <% if @job.latitude.present? && @job.longitude.present? %>
                  <script>

                    function initMap() {
                      var myLatLng = {lat: <%= @job.latitude %>, lng: <%= @job.longitude %>};

                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12,
                        center: myLatLng
                      });

                      var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'Hello World!'
                      });
                    }
                  </script>

                  <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUVi5Uoez-7hb5hh3ZBEn2g4kXMbwdYRk&callback=initMap">
                </script>
                <div id="map"></div>
                <% end %>
        </div>
      </div>
    </div>
  </div>












<%= render 'jobapplications/form' %>
