

<div class="top container mt-5">
<section class="mb-5">
<div class="col-md-12">
<!--News card-->
<div class="card">

<div class="card-body">
<% if @job.logo.attached? %>
<%= image_tag @job.logo, class: "rounded-circle", size: 60 %><br/>
<% end %>
<span class="float-right">
  <a class="text-white"><%= link_to 'Apply on company site', (@job.url), class: "btn btn-danger" %></a>
</span>



<p class="mb-1"><a href="" class="font-weight-bold black-text"><h3><%= @job.title %></h3></a></p>

<h5 class="mb-1"><small class="mr-1"><%= @job.company %></small><strong></strong></h5>

<div class="amber-text fa-xs mb-1">
<%= @job.location %>
</div>

<hr />

<div class="row h-100 d-flex align-items-center">
<div class="col-lg-6">
<h5>Job Responsibilities</h5>
<div class="description">
<p><%= @job.description %>
</p>


<h5>Qualification required</h5>
<p><%=  @job.qualifications %></p>
<br >

<h5>Benefits</h5>
<p><%=@job.benefits %></p>

<div class="d-flex justify-content-between ml-3">

  <a href="" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#modalContactForm">Apply for this job</a>



<small class="grey-text"></small>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
<!--Grid column-->

</div>
</section>
<!--Section: Content-->


</div>

 <div class="widget map">
                <div class="map">
                  <%= @job.location%>, <%= @job.city %> <%= @job.state %>
                  <% if @job.latitude.present? && @job.longitude.present? %>
                  <script>

                    function initMap() {
                      var myLatLng = {lat: <%= @job.latitude %>, lng: <%= @job.longitude %>};

                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12,
                        center: myLatLng
                      });

                      var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'Hello World!'
                      });
                    }
                  </script>

                  <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUVi5Uoez-7hb5hh3ZBEn2g4kXMbwdYRk&callback=initMap">
                </script>
                <div id="map"></div>
                <% end %>
              </div>
            </div>

<%= render 'jobapplications/form' %>