

<div class="slide">
  <div class="container">
    <!--Grid row-->
    <div class="row mt-5">
      <!--Grid column-->
      <div class="col-md-4 mb-5 text-md-left">
        <!-- Card -->
        <div class="card testimonial-card">

          <!-- Background color -->
          <div class="card-up cyan lighten-1"></div>


          <!-- Avatar -->
          <div class="avatar mx-auto white">
           
      <%= image_tag photo_url(current_user), class: "rounded-circle" %>
       
          </div>



          <!-- Content -->
          <div class="card-body">
            <!-- Name -->
            <h4 class="card-title"><%= current_user.first_name %> <%=current_user.last_name %></h4>
            <hr>
            <p>Joined <strong><%= current_user.created_at.strftime('%d %b %Y') %></strong></p>
            <p><i class="fas fa-quote-left"></i> <%= current_user.about %>
            </p>
            <p><strong><% if current_user.status %> Online <% else %> Offline <% end %>
                                            </strong></p>
          </div>

        </div>
        <!-- Card -->

        <br />
        <div class="card">

          <!-- Background color -->
          <div class="card-up cyan lighten-1"></div>

          <!-- Content -->
          <div class="card-body">
           
         
 
          </div>
          <br />


        </div>
        <div class="card-body">
          <!-- Name -->

          <hr>

        

        </div>

      </div>







      <div class="col-md-8 ">
        <!--Form-->
        <div class=" card wow fadeInRight" data-wow-delay="0.3s">
          <!-- Material form register -->
          <div class="card">

            <h5 class="card-header  cyan-text text-center py-4">
              <strong>My Courses</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">


                  </div>

                </div>
                <!-- Material form register -->
              </div>
            </div>
          </div>
        </div>
      </div>



