

<div class="top slide">
  <div class="container">
    <!--Grid row-->
    <div class="row mt-5">
      <!--Grid column-->
      <div class="col-md-4 mb-5 text-md-left">
        <!-- Card -->
        <div class="card testimonial-card">

          <!-- Background color -->
          <div class="card-up cyan lighten-1"></div>


          <!-- Avatar -->
          <div class="avatar mx-auto white">
           
      <%= image_tag photo_url(@user), class: "rounded-circle" %>
       
          </div>



          <!-- Content -->
          <div class="card-body">
            <!-- Name -->
            <h4 class="card-title"><%= @user.first_name %> <%=@user.last_name %></h4>
            <hr>
            <p>Joined <strong><%= @user.created_at.strftime('%d %b %Y') %></strong></p>
            <p><i class="fas fa-quote-left"></i> <%= current_user.about %>
            </p>
            <p><strong><% if @user.status %> Online <% else %> Offline <% end %>
                                            </strong></p>
          </div>

        </div>
        <!-- Card -->

        <br />
        <div class="card">

          <!-- Background color -->
          <div class="card-up cyan lighten-1"></div>

          <!-- Content -->
          <div class="card-body">
           
         
 
          </div>
          <br />


        </div>
        <div class="card-body">
          <!-- Name -->

          <hr>

        

        </div>

      </div>







