
  

<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">


    <div class="navbar-brand"> <%= link_to root_path do %> <h2 class="text-capitalize"></i>Kella<span class="text-warning">Hospitality</span></h2>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
     <%= link_to "Courses", courses_path, class: "nav-link"  %>

  
    </li>

       <li class="nav-item">
     <%= link_to "Become a teacher", new_instructor_course_path, class: "nav-link"  %>

  
    </li>
  </ul>



  <ul class="navbar-nav ml-auto nav-flex-icons">

    <% if (!user_signed_in?)  %>
    <li class="nav-item">
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link"  %>
    </li>
    <li class="nav-item">
      <%= link_to  "Login", new_user_session_path, class: "nav-link" %>
    </li>

    <% else %>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"

      aria-haspopup="true" aria-expanded="false"> <%= image_tag photo_url(current_user), class: "rounded-circle", size: 40 %></i> Hi,<%= current_user.first_name %>  <%= current_user.last_name %>



    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-default"
    aria-labelledby="navbarDropdownMenuLink-333">
    <%= link_to  "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <%= link_to  "View Profile", edit_user_registration_path, class: "dropdown-item"  %>
    <% if current_user.superadmin_role? || current_user.supervisor_role? %>
    <%= link_to  "Admin dashboard",   rails_admin_path, class: "dropdown-item"  %>

    <% else %>
    <%= link_to  "My Dashboard", dashboard_path, class: "dropdown-item" %>
    <% end %>
  </li>
  <% end %>
</ul>
</div>

</nav>




