<div id="flex-content-container">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

    <div class="container">

      <div class="navbar-brand"> <%= link_to root_path do %> <h2 class="text-white text-capitalize"></i>Kella<span class="text-color">Hospitality</span></h2>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          
     <%= link_to "Home", root_path, class: "nav-link" %>
          </a>
        </li>

        <li class="nav-item">
          <%= link_to "Members", users_path, class: "nav-link" %>

        </li>

        <li class="nav-item">
          <%= link_to "Pricing", plans_path, class: "nav-link" %>

        </li>

        <li class="nav-item">
          <%= link_to "Jobs", jobs_path, class: "nav-link" %>

        </li>

     
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Courses</a>
          <div class="dropdown-menu dropdown-danger">
             <%= link_to "All courses", courses_path, class: "dropdown-item" %>
            <% Category.all.each do |item| %>

            <%= link_to "#{item.name}", search_path(category: item.id), class: "dropdown-item" %>
            <% end %>

          </div>
        </li> 

          <li class="nav-item">
          <%= link_to "Post a job", new_job_path, class: "btn btn-white btn-rounded btn-sm text-center" %>

        </li>

      </ul>




      <ul class="navbar-nav ml-auto nav-flex-icons">
       

        <% if (!user_signed_in?)  %>
        <li class="nav-item">
          <a href="" class="nav-link btn btn-unique btn-sm btn-rounded" data-toggle="modal" data-target="#modal2"><i class="fas fa-user left">
          Register</i></a>
        </li>
        <li class="nav-item">

          <a href="" class=" nav-link" data-toggle="modal" data-target="#modal1">
          Login</i></a>
        </li>


        <% else %>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"

          aria-haspopup="true" aria-expanded="false"> <%= image_tag photo_url(current_user), class: "rounded-circle", size: 40 %>
        </i> Hi,<%= current_user.first_name %>  <%= current_user.last_name %>



        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
        aria-labelledby="navbarDropdownMenuLink-333">
        <%= link_to  "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <%= link_to  "View Profile", edit_user_registration_path, class: "dropdown-item"  %>
        <%= link_to  "Applied jobs", applications_path, class: "dropdown-item"  %>
           <%= link_to  "Job applications", job_applications_path, class: "dropdown-item"  %>
        <% if current_user.superadmin_role? || current_user.supervisor_role? %>
        <%= link_to  "Admin dashboard",   rails_admin_path, class: "dropdown-item"  %>

        <% else %>
        <%= link_to  "My Dashboard", dashboard_path, class: "dropdown-item" %>
        <% end %>
      </li>
      <% end %>
    </ul>

</div>
</nav>
</li>
</ul>
</div>



<%= render 'devise/sessions/login' %>

<%= render 'devise/registrations/signup' %>
