

<div class="top container">
<h2><strong><%= current_lesson.title %></strong></h2>
<br />
<div class="row">
  <div class="col-6">
  <% if current_lesson.prev_lesson.present? %>   

       <%= link_to lesson_path(current_lesson.prev_lesson), class: 'btn btn-default btn-sm' do %>
       <span class="fa fa-backward"></span>
      Prev Lesson &nbsp;
  
      <% end %>
     <% end %>
   </div>


  <div class="col-6">
  <% if current_lesson.next_lesson.present? %>
       <%= link_to lesson_path(current_lesson.next_lesson), class: 'btn btn-default btn-sm float-right' do %>
      Next Lesson &nbsp;
      <span class="fa fa-forward"></span>
      <% end %>
     <% end %>
   </div>
 </div>



 


<div class="box container">
  <video id='my-video' class='video-js vjs-big-play-centered vjs-fluid' controls preload='auto' width='auto' height='auto'
 <% if current_lesson.thumbnail.attached? %> 
  poster="<%= url_for(current_lesson.thumbnail) %>" data-setup='{}'>

  <% end %>

  <source src="<%= url_for(current_lesson.video) %>" type='video/mp4'>
    <noscript>
      <p class='vjs-no-js'>
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
      </p>
    </noscript>
  </video>
</div>



</div>


<div class="container">
  <div class="col-md-10 offset-md-1">
 <p class="text-center text-bold"><%= current_lesson.content %></p>
</div>
</div>



<div class="container">
   <div class="box col-md-8">
  <% Lesson.all.each do |lesson| %>
<ul class="list-group list-group-flush">
  <ul class="list-group">
 
    <li class="list-group-item">
      <a class="text-white btn-floating btn-yt btn-sm"><i class="fa fa-play"></i></a>  <%= link_to lesson.title, lesson_path(lesson) %>
    </li>
  </ul>
</ul>
  <% end %>
</div>
</div>



<!-- <div class="col-md-4">


          <h5 class="text-center">Popular searches</h5>
              <div class="card-body list">
               <% Lesson.all.each do |lesson| %>

               <%= link_to lesson_path(lesson) %>
             
        <% end %>

    </div>
 -->


