

<div class="top container">
<h2><strong><%= current_lesson.title %></strong></h2>
<br />
<div class="row">
  <div class="col-6">
  <% if current_lesson.prev_lesson.present? %>   

       <%= link_to lesson_path(current_lesson.prev_lesson), class: 'btn btn-default btn-sm' do %>
       <span class="fa fa-backward"></span>
      Prev Lesson &nbsp;
  
      <% end %>
     <% end %>
   </div>


  <div class="col-6">
  <% if current_lesson.next_lesson.present? %>
       <%= link_to lesson_path(current_lesson.next_lesson), class: 'btn btn-default btn-sm float-right' do %>
      Next Lesson &nbsp;
      <span class="fa fa-forward"></span>
      <% end %>
     <% end %>
   </div>
 </div>



 


<div class="container">
  <video id='my-video' class='video-js vjs-big-play-centered vjs-fluid' controls preload='auto' width='auto' height='auto'
 <% if current_lesson.thumbnail.attached? %> 
  poster="<%= url_for(current_lesson.thumbnail) %>" data-setup='{}'>

  <% end %>

  <source src="<%= url_for(current_lesson.video) %>" type='video/mp4'>
    <noscript>
      <p class='vjs-no-js'>
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
      </p>
    </noscript>
  </video>
</div>



</div>


<div class="container">
  <div class="col-md-10 offset-md-1">
 <p class="text-center text-bold"><%= current_lesson.content %></p>
</div>
</div>





