<br />
<div class="top container">

  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

     

          <!--Header-->
          <div class="form-header bg-primary">
            <h3><i class="fa fa-user"></i> Log in</h3>
          </div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="md-form">
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
          </div>

          <div class="md-form">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
          </div>



          <div class="text-center">
            <%= f.submit "Log in", class: "btn btn-danger btn-rounded btn-block z-depth-0 my-4 waves-effect" %>
          </div>


          <div class="text-center">
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary btn-block btn-rounded z-depth-0 my-4 waves-effect" %>
          </div>
          <% end %>
          <div class="d-flex justify-content-around">
            <div>
              <!-- Remember me -->
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                <% end %>
              </div>
            </div>
            <div>

              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name) %><br />
              <% end %>
            </div>
          </div>


    </div>
  </div>
</div>
<br />


