

     <div class="card col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">
  <!-- Card body -->
  <div class="card-body">

    <!-- Default form subscription -->
<%= form_for @lesson, url: instructor_section_lessons_path(current_section) do |f| %>
      <p class="h4 text-center py-4">Add a new lesson</p>

     <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
   

      <br>
 <%= f.text_area :content, placeholder: 'Details about course', class: 'form-control' %>
   <br>

   <%= f.file_field :video %>
   <br /><br />

    <%= f.file_field :thumbnail %>

  
      <div class="text-center py-4 mt-3">
        <button class="btn btn-deep-orange" type="submit">Add the lesson</button>
      </div>
  <% end %>
    <!-- Default form subscription -->

  </div>
  <!-- Card body -->

</div>
</div>









<ul class="stepper">
  <li class="step active">
    <div data-step-label="Just add a data-step-label!" class="step-title waves-effect waves-dark">Step 1</div>
    <div class="step-new-content">
      <div class="row">
        <div class="md-form col-12 ml-auto">
     <%= form_for @lesson, url: instructor_section_lessons_path(current_section) do |f| %>

             <%= f.text_field :title, autofocus: true, placeholder: "title", class: "form-control validate" %>
       
        </div>
      </div>
      <div class="step-actions">
        <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">CONTINUE</button>
      </div>
    </div>
  </li>
  <li class="step">
    <div class="step-title waves-effect waves-dark">Step 2</div>
    <div class="step-new-content">
      <div class="row">
        <div class="md-form col-12 ml-auto">
        <%= f.text_area
         :content, autocomplete: "off", placeholder: "description", class: "form-control  validate" %>
        </div>
      </div>
      <div class="step-actions">
        <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">CONTINUE</button>
        <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step">BACK</button>
      </div>
    </div>
  </li>
  <li class="step">
    <div class="step-title waves-effect waves-dark">Step 3</div>
    <div class="step-new-content">
      Finish!
      <div class="step-actions">
        <button class="waves-effect waves-dark btn btn-sm btn-primary m-0 mt-4" type="button">SUBMIT</button>
      </div>

      <% end %>
    </div>
  </li>
</ul>

<script>

    $(document).ready(function () {
$('.stepper').mdbStepper();
})


</script>

