<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <% if @job.logo.attached? %>
        <h4 class="modal-title w-100 font-weight-bold"><%= image_tag @job.logo, class: "rounded-circle", size: 40 %><% end %><%= @job.title %></h4> 
         
        
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
         <%= form_for([@job, @job.jobapplications.new]) do |f| %>
        <div class="md-form">
          <i class="fas fa-user prefix grey-text"></i>


            <%= f.text_field :firstname, autofocus: true, placeholder: "First name", class: "form-control validate", required: true %>
          
        </div>

          <div class="md-form">
          <i class="fas fa-user prefix grey-text"></i>


            <%= f.text_field :lastname, autofocus: true, placeholder: "Last name", class: "form-control validate", required: true %>
          
        </div>


        <div class="md-form">
          <i class="fas fa-envelope prefix grey-text"></i>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control validate", required: true %>
       
        </div>

         <div class="md-form">
          <i class="fas fa-phone prefix grey-text"></i>
          <%= f.text_field :title, placeholder: "Phone number", class: "form-control validate", required: true %>
       
        </div>


        <div class="md-form">
          <i class="fas fa-tag prefix grey-text"></i>
             <%= f.text_area :message,  placeholder: "Cover letter", class: "form-control validate" %>
        </div>

        <div class="md-form">
          <i></i>
          <%= f.file_field :attachment_file, required: true %><br />
          <span class="file-label">Attach Resume</span>
    
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique">Apply</button>
      </div>
    </div>
  </div>
</div>
<% end %>
