
<% content_for :head do %>
<title><%= @course.title %> | KellaHospitality </title>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@KellaHospitality">
<meta name="twitter:title" content="<%= @course.title %>">
<meta name="twitter:description" content="<%= @course.description %>">
<!--     <meta name="twitter:image:src" content="<%= image_tag @course.image %>"> -->

<meta property="og:type" content="website">
<meta property="og:site_name" content="KellaHospitality">
<meta property="og:title" content="<%= @course.title %>">
<meta property="og:description" content="<%= @course.description %>">
<meta property="og:image" content="<%= @course.image %>">
<% end %>
<div class="top row">
  <div class="container my-5 py-5 z-depth-1 text-center text-lg-left">
    <section class="px-md-5 mx-md-5 dark-grey-text">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <h3 class="font-weight-bold"><%= @course.title %></h3>

          <span class="star-review"><i class="fa fa-star"></i>
            <%= @course.average_rating %>
            <span class="has-text-primary">(<%= @course.reviews.count %>)</span>
          </span> 
          <p class="text-muted"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum. <%= @course.description %></p>


     </p>

          <% if current_user %>
          <% if current_user.enrolled_in?(@course) %>
          <h3 class="badge badge-info">You Are Enrolled!</h3>

          <% else %>

          <% if @course.free? %>
          <%= link_to 'Start', course_enrollments_path(@course), class: 'btn btn-danger', method: :post %>
          <% else %>




          <%= form_tag course_enrollments_path(@course) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-email="<%= current_user.email %>"
          data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
          data-amount="<%= (@course.cost * 100).to_i %>"
          data-locale="auto">
        </script>






        <script>

          document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
        </script>

        <span class="badge badge-default">
          <h3><%= @course.cost == 0? "Free" : "#{ number_to_currency @course.cost }" %></h3>
        </span>

        <button type="submit" class="yourCustomClass btn btn-deep-orange btn-rounded btn-xl">Enroll</button>
        <% end %>
        <% end %>
        <% end %>
        <% else %>
        <%= link_to 'Sign in to enroll', new_user_session_path, class: 'btn btn-deep-orange btn-rounded btn-md' %>
        <% end %>
      </div>





      <div class="col-lg-6 mb-4">
        <div class="overlay z-depth-1-half">
          <%= image_tag @course.image, class: 'img-fluid' %>

          <a href="#">
            <div class="rgba-white-light"></div>
          </a>
        </div>

      </div>

    </div>
  </section>


  <div class="container my-5">
    <section class="dark-grey-text text-center">


      <% @course.sections.each do |section| %>

      <h3>
        <%= section.title %>
      </h3>
      <div class="row">

        <% section.lessons.each do |lesson| %>
        <div class="col-md-4 mb-4">
          <%= link_to lesson_path(lesson), class: "card hoverable" do %>
          <div class="card-body my-4">

            <p><i class="fas fa-play fa-2x"></i></p>
            <h5 class="black-text mb-0"><%= lesson.title %></h5>
          </div>

          <% end %>

        </div>
        <% end %>
      </div>
    </div>
    <% end %>


  </section>
</div>





<div class="container">
<div class="col-12 ">
  <%= form_for ([@course, @review]) do |f| %>
    <div class="media mt-3 shadow-textarea">
  
      <div class="media-body">
   
        <div id="star"></div>
        <div class="form-group basic-textarea rounded-corners">

           <%= f.text_area :review, placeholder: "Write your review...", class: "form-control" %>
           <%= f.hidden_field :course_id, :value => @course.id %>

           <div class="text-right">
          <%= f.submit "Add review", class: "btn btn-danger btn-rounded z-depth-1a" %>
    
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>

  $('#star').raty({
            path: '/assets/raty-js/lib/images',
            scoreName: 'review[stars]',
            score: 1
        });
</script>












<div class="container">
<div class="col-12 ">
<% @reviews.order("id desc").each do |r| %>
    <div class="media">
  <%= image_tag photo_url(r.user), class: "d-flex rounded-circle avatar z-depth-1-half mr-3"  %> 
  <div class="media-body">
     <td>Posted <%= timeago(r.created_at)%></td>
    <h5 class="mt-0 font-weight-bold blue-text"><%= r.user.first_name %> <%= r.user.last_name %> </h5><br />
 
      <div id="stars_<%= r.id %>"></div>
     <p><%= r.review %></p>


  </div>
</div>
<script>
$('#stars_')


  $('#stars_<%= r.id %>').raty({
            path: '/assets/raty-js/lib/images',
            readOnly: true,
            score: <%= r.stars %>
        });
      </script>

<% end %>
</div>
</div>



<script>
  $(function() {
 $("time.timeago").timeago();
});
</script>





