
<% content_for :head do %>
<title><%= @course.title %> | KellaHospitality </title>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@KellaHospitality">
<meta name="twitter:title" content="<%= @course.title %>">
<meta name="twitter:description" content="<%= @course.description %>">
<!--     <meta name="twitter:image:src" content="<%= image_tag @course.image %>"> -->

<meta property="og:type" content="website">
<meta property="og:site_name" content="KellaHospitality">
<meta property="og:title" content="<%= @course.title %>">
<meta property="og:description" content="<%= @course.description %>">
<meta property="og:image" content="<%= @course.image %>">
<% end %>
<div class="top row">
  <div class="container my-5 py-5 z-depth-1 text-center text-lg-left">
    <section class="px-md-5 mx-md-5 dark-grey-text">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <h3 class="font-weight-bold"><%= @course.title %></h3>

          <span class="star-review"><i class="fa fa-star"></i>
            <%= @course.average_rating %>
            <span class="has-text-primary">(<%= @course.reviews.count %>)</span>
          </span> 
          <p class="text-muted"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum. <%= @course.description %></p>


        </p>

        <% if current_user %>
        <% if current_user.enrolled_in?(@course) %>
        <h3 class="badge badge-info">You Are Enrolled!</h3>

        <% else %>

        <% if @course.free? %>
        <%= link_to 'Start', course_enrollments_path(@course), class: 'btn btn-danger', method: :post %>
        <% else %>




        <%= form_tag course_enrollments_path(@course) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-email="<%= current_user.email %>"
        data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
        data-amount="<%= (@course.cost * 100).to_i %>"
        data-locale="auto">
      </script>






      <script>

        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
      </script>

      <span class="badge badge-default">
        <h3><%= @course.cost == 0? "Free" : "#{ number_to_currency @course.cost }" %></h3>
      </span>

      <button type="submit" class="yourCustomClass btn btn-deep-orange btn-rounded btn-xl">Enroll</button>
      <% end %>
      <% end %>
      <% end %>
      <% else %>
      <%= link_to 'Sign in to enroll', new_user_session_path, class: 'btn btn-deep-orange btn-rounded btn-md' %>
      <% end %>
    </div>





    <div class="col-lg-6 mb-4">
      <div class="overlay z-depth-1-half">
        <%= image_tag @course.image, class: 'img-fluid' %>

        <a href="#">
          <div class="rgba-white-light"></div>
        </a>
      </div>

    </div>

  </div>
</section>



<div class="container my-5">
  <section class="dark-grey-text text-center">


    <% @course.sections.each do |section| %>

    <h3>
      <%= section.title %>
    </h3>
    <div class="row">

      <% section.lessons.each do |lesson| %>
      <div class="col-md-4 mb-4">
        <%= link_to lesson_path(lesson), class: "card hoverable" do %>
        <div class="card-body my-4">

          <p><i class="fas fa-play fa-2x"></i></p>
          <h5 class="black-text mb-0"><%= lesson.title %></h5>
        </div>

        <% end %>

      </div>
      <% end %>
    </div>

    <% end %>
  </section>
</div>
</div>


<div class="container">
  <div class="col-md-8">
    <% @course.sections.each do |section| %>
    <%= section.title %>
    <% section.lessons.each do |lesson| %>
    <ul class="list-group list-group-flush">
      <ul class="list-group">
        <%= link_to lesson_path(lesson), class: "card hoverable" do %>
        <li class="list-group-item">
          <a class="text-white btn-floating btn-yt btn-sm"><i class="fa fa-play"></i></a>  <%= link_to lesson.title, lesson_path(lesson) %>
        </li>
        <% end %>
      </ul>
    </ul>

    <% end %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $("time.timeago").timeago();
  });
</script>






<% if current_user %>
<% if current_user.enrolled_in?(@course) %>



<div class="container">
  <div class="row">
    <div class="box col-md-12">
      <h3>Student Discussions</h3>
      <% @course.comments.each do |comment| %>
      <div class="py-4 grey lighten-4">
        <div class="px-3">
          <%= image_tag photo_url(comment.user), class: "z-depth-1 rounded-circle float-left",  width: 40 %>


          <div class="d-flex flex-column pl-3">
            <div class="">
              <a href="#!" class="font-weight-normal mb-0"><%= comment.user.first_name %> <%= comment.user.last_name %></a>
              <p class="small text-muted float-right mb-0"> <td>
                Posted <%= timeago(comment.created_at)%></td></p>
              </div>
              <p class="font-weight-light dark-grey-text mb-0"> <%= comment.message %></p>
            </div>
          </div>
        </div>

        <% end %>






        <div class="card-footer white py-3">
          <%= form_for @comment, url: course_comments_path(@course) do |f| %>
          <div class="form-group mb-0">
            <%= f.text_area :message, placeholder: "Write your comment...",  rows: 2, class: "form-control rounded-0" %>


            <div class="text-right pt-1">
              <%= f.submit "Post Comment", class: "btn btn-danger btn-sm mb-0 mr-0" %>

            </div>
          </div>


          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
<%

