<br />
<% content_for :head do %>
<title><%= @course.title %> | KellaHospitality </title>




<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@KellaHospitality">
<meta name="twitter:title" content="<%= @course.title %>">
<meta name="twitter:description" content="<%= @course.description %>">
<!--     <meta name="twitter:image:src" content="<%= image_tag @course.image %>"> -->

<meta property="og:type" content="website">
<meta property="og:site_name" content="KellaHospitality">
<meta property="og:title" content="<%= @course.title %>">
<meta property="og:description" content="<%= @course.description %>">
<meta property="og:image" content="<%= @course.image %>">
<% end %>
<div class="row">
  <div class="container my-5 py-5 z-depth-1 text-center text-lg-left">
    <section class="px-md-5 mx-md-5 dark-grey-text">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <h3 class="font-weight-bold"><%= @course.title %></h3>

          <span class="star-review"><i class="fa fa-star"></i>
            <%= @course.average_rating %>
            <span class="has-text-primary">(<%= @course.reviews.count %>)</span>
          </span> 
          <p class="text-muted"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum. <%= @course.description %></p>


             <% if @course.attachment_file.attached? %>
     <p>
      <%= link_to url_for(@course.attachment_file), class: "tag small is-warning m-t-20",
      download: "Attachment_#{@course.attachment_file.id}" do %>
      <i class="fas fa-paperclip fa-lg p-r-5"></i> <%= @course.attachment_file.filename %>

      <% end %> 
      <% end %>
     </p>

          <% if current_user %>
          <% if current_user.enrolled_in?(@course) %>
          <h3 class="badge badge-info">You Are Enrolled!</h3>

          <% else %>

          <% if @course.free? %>
          <%= link_to 'Start', course_enrollments_path(@course), class: 'btn btn-danger', method: :post %>
          <% else %>




          <%= form_tag course_enrollments_path(@course) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-email="<%= current_user.email %>"
          data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
          data-amount="<%= (@course.cost * 100).to_i %>"
          data-locale="auto">
        </script>






        <script>

          document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
        </script>

        <span class="badge badge-default">
          <h3><%= @course.cost == 0? "Free" : "#{ number_to_currency @course.cost }" %></h3>
        </span>

        <button type="submit" class="yourCustomClass btn btn-deep-orange btn-rounded btn-xl">Enroll</button>
        <% end %>
        <% end %>
        <% end %>
        <% else %>
        <%= link_to 'Sign in to enroll', new_user_session_path, class: 'btn btn-deep-orange btn-rounded btn-md' %>
        <% end %>
      </div>









      <div class="col-lg-6 mb-4">
        <div class="overlay z-depth-1-half">
          <%= image_tag @course.image, class: 'img-fluid' %>

          <a href="#">
            <div class="rgba-white-light"></div>
          </a>
        </div>

      </div>

    </div>
  </section>


  <div class="container my-5">
    <section class="dark-grey-text text-center">


      <% @course.sections.each do |section| %>

      <h3>
        <%= section.title %>
      </h3>
      <div class="row">

        <% section.lessons.each do |lesson| %>
        <div class="col-md-4 mb-4">
          <%= link_to lesson_path(lesson), class: "card hoverable" do %>
          <div class="card-body my-4">

            <p><i class="fas fa-play fa-2x"></i></p>
            <h5 class="black-text mb-0"><%= lesson.title %></h5>
          </div>

          <% end %>

        </div>
        <% end %>
      </div>
    </div>
    <% end %>


  </section>
</div>

<div class="container">

  <div class="col-12">
    <% @course.sections.each do |section| %>

    <h3>
      <%= section.title %>
    </h3>
    <div class="row">
      <% section.lessons.each do |lesson| %>
      <div class="col-md-4 mb-4">
        <div class="lesson text-center">
          <p><i class="fas fa-play fa-2x"></i></p>
          <%= link_to lesson_path(lesson) do %>
          <b><%= lesson.title %></b>
          <br />
          <%= lesson.content %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <br class="clr" />
  </div>
  <% end %>

</div>




</div>



<div class="container">
  <div class="col-md-10">


    <h4>Reviews</h4>

    <% if current_user %>
    <% if current_user.enrolled_in?(@course) %>
    <% end %>
    <% end %>
  </div>
</div>


<div class="text-center">
  <% if current_user && current_user == @course.user %>

  <br /><br />

  <%= link_to 'Administer', instructor_course_path(@course), class: "btn btn-deep-orange" %>
  <% end %>
</div>





<div class="container">
  <%= link_to 'Preview As Student...', course_path(@course), class: 'btn btn-warning float-right' %>
  <br class="clr" />
  <%= link_to 'Administer', instructor_course_path(@course), class: "btn btn-deep-orange" %>
</div>

<script>
  $(document).ready(function() {
    var file = $('.file-input');
    file.change(function(e) {
      if (file[0].files.length > 0) {
        var attachment = file[0].files[0];
        $('.file-name').text(attachment.name + " (" + attachment.size + "bytes)");
      }
    })
  })
</script>

<%= render 'comments/comments' %>