<br />

<div class="box col-md-8 offset-md-2">

<h1><%= @course.title %></h1>

  <%= image_tag @course.image, class: 'img-fluid' %>

<br /><br />
<div class="row">
<div class="col-sm-4 col-12 text-center">


  <span class="badge badge-default">

  <h1><%= number_to_currency @course.cost %></h1>
</span>




<div class="col-sm-8 col-12">

  <%= @course.description %>
  </div>


  <% if current_user && current_user == @course.user %>

  <br /><br />

  <%= link_to 'Administer', instructor_course_path(@course), class: "btn btn-deep-orange" %>
  <% end %>
</div>
</div>
<br />



<br class="clr" />




<div class="col-12">
  <% @course.sections.each do |section| %>


    <%= section.title %>

     <% section.lessons.each do |lesson| %>
     <div class="lesson">
     <%= link_to lesson_path(lesson) do %>
          
              <b><%= lesson.title %></b>
              -
              <%= lesson.content %>
            <% end %>
          </div>
          <% end %>
        </div>

    
 <% end %>




</div>
