



<div class="container">
<div class="col-12 ">
  <%= form_for ([@course, @review]) do |f| %>
    <div class="media mt-3 shadow-textarea">
     <%= image_tag photo_url(current_user), class: "d-flex rounded-circle avatar z-depth-1-half mr-3"  %>
      <div class="media-body">
   
        <div id="star"></div>
        <div class="form-group basic-textarea rounded-corners">

           <%= f.text_area :review, placeholder: "Write your review...", class: "form-control" %>
           <%= f.hidden_field :course_id, :value => @course.id %>
         <%= f.hidden_field :user_id, :value => current_user.id %>
           <div class="text-right">
          <%= f.submit "Add review", class: "btn btn-danger btn-rounded z-depth-1a" %>
    
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>

  $('#star').raty({
            path: '/assets/raty-js/lib/images',
            scoreName: 'review[stars]',
            score: 1
        });
</script>









