
<div class="container">
<div class="col-12 ">
<% @reviews.order("id desc").each do |r| %>
    <div class="media">
  <%= image_tag photo_url(r.user), class: "d-flex rounded-circle avatar z-depth-1-half mr-3"  %> 
  <div class="media-body">
     <td>Posted <%= timeago(r.created_at)%></td>
    <h5 class="mt-0 font-weight-bold blue-text"><%= r.user.first_name %> <%= r.user.last_name %> </h5><br />
 
      <div id="stars_<%= r.id %>"></div>
     <p><%= r.review %></p>


  </div>
</div>
<script>
$('#stars_')


  $('#stars_<%= r.id %>').raty({
            path: '/assets/raty-js/lib/images',
            readOnly: true,
            score: <%= r.stars %>
        });
      </script>

<% end %>
</div>
</div>



<script>
  $(function() {
 $("time.timeago").timeago();
});
</script>