<!DOCTYPE html>
<html>
<head>
  <title>KellHospitality</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
  <%= yield :head %>

  <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='4c210edf1ee3c165c3a625aa4c5afb9528217dbd483422daf9c99c2d1b558b16';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159440316-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159440316-1');
  </script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159233743-1');
  </script>



</head>

<body>


  <%= render 'shared/navbar' %>

    <%= render "devise/shared/alert" %>






  <main>

    <%= yield %>

  </main>



  <%= render 'shared/footer' %>






  <script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  <script id="dsq-count-scr" src="//kellahospitality.disqus.com/count.js" async></script>
</body>
</html>
