<!DOCTYPE html>
<html>
  <head>
    <title>KellHospitality</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
       <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
           <%= yield :head %>

           <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='4c210edf1ee3c165c3a625aa4c5afb9528217dbd483422daf9c99c2d1b558b16';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>

           <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159233743-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159233743-1');
</script>

<!-- Start of  Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=f9938f59-2cfa-4bfe-9c8b-393b6fc56522"> </script>


<!-- End of  Zendesk Widget script -->

  </head>

  <body>


   <%= render 'shared/navbar' %>

   <% unless flash.empty? %>
   <script type="text/javascript">
      <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
     toastr['<%= type %>']('<%= f[1] %>');
   <% end %>
   </script>
<% end %>





<main>

    <%= yield %>

  </main>



   <%= render 'shared/footer' %>




  
  
  <script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

    <script id="dsq-count-scr" src="//kellahospitality.disqus.com/count.js" async></script>
  </body>
</html>
